* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
  background: white;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #7c0c0c;
}
